*{
    margin: 0;
    padding: 0;
}



/* HEADER NAV LOGO */
.container-fluid img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.container-fluid ul li a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* TITLE MAIN CONTENT */
.section__presentation--color{
    background-image: linear-gradient(to bottom, #c1d9e1, #81b8d7, #4c93d0, #366bc3, #4a3ca8);
}

.name{
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
    font-family: 'Antic Didone', serif;
    font-family: 'Lato', sans-serif;
}

.section__presentation hr{
    margin: 20px auto;
    width: 30%;
    color: rgb(11, 13, 68);
    animation: defilementTexte 5s linear infinite; /* 10s pour ajuster la vitesse, linear pour un mouvement uniforme, infinite pour une répétition infinie */
}
@keyframes defilementTexte{
    from{
      transform: translateX(-100%); /* Début à gauche de l'écran */
    }
    to{
      transform: translateX(100%); /* Fin à droite de l'écran */
    }
}

.presentation__container{
    display: flex;
    justify-content: space-around;
    height: 800px;
    align-items: center;
}

.presentation__photo{
    width: 365px;
    height: 365px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    background: url(images/ppega.jpeg);
    background-position: center;
}

.presentation__description{
    width: 600px;
    height: 700px;
    font-size: 80px;
    font-family: 'Antic Didone', serif;
    font-family: 'Jura', sans-serif;
    text-shadow: 4px 6px 6px rgba(1, 0, 0, 0.65);
    opacity: 0;
    animation: apparitionTexte 3s ease-in-out forwards;
}
@keyframes apparitionTexte{
    from{
      opacity: 0;
      transform: translateY(-20px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
}



/* BOULES */
.boules__decoration{
    display: flex;
    justify-content: space-around;
}

.boule{
    height: 50px;
    width: 50px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    background-color: #d9d9d9;
    animation: sautBoule 1s ease-in-out infinite; /* 1s pour ajuster la durée, ease-in-out pour un mouvement fluide, infinite pour une répétition infinie */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e16f6f;
    font-weight: 500;
}
@keyframes sautBoule{
    0%, 100%{
      transform: translateY(0); /* Position de départ et d'arrivée, aucune translation verticale */
    }
    50%{
      transform: translateY(-20px); /* Au milieu de l'animation, la boule est déplacée vers le haut */
    }
}

.boule__size{
    font-size: 45px;
}

.boule:hover{
    background-color: #642929;
}



/* PORTOFOLIO PART */
.portofolio--color{
    background-image: linear-gradient(to top, #c1d9e1, #81b8d7, #4c93d0, #366bc3, #4a3ca8);
}
.portofolio__title{
    padding-top: 70px;
    text-align: center;
    font-size: 100px;
    font-family: 'Antic Didone', serif;
    font-family: 'Lobster', sans-serif;
}

.portofolio__container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.portofolio img{
    width: 900px;
    height: 500px;
    object-fit: cover; /* Pour ajuster l'image au conteneur tout en conservant son rapport hauteur/largeur */
}

.portofolio img:hover{
    width: 1000px;
    height: 600px;
    transition: 1s;
}



/* FORMULAIRE PART */
.section__form--title{
    padding-left: 20px;
    font-size: 60px;
    font-style: italic;
    height: 80px;
    margin-top: 30px;
    padding-top: 20px;
}
.section__form--title:hover{
    color: #ffff;
}

.section__form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 10px;
    border: 4px solid transparent;
    align-items: center;
    width: 600px;
    margin-bottom: 80px;
}

.form__input{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 10px;
}

.form__title{
    font-family: 'Antic Didone', serif;
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
}

label{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type='submit']{
    width: 110px;
    height: 60px;
    border-radius: 12px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, darkblue, darkorchid) border-box;
    margin-top: 10px;
    border: 4px solid transparent;
}

.form__textarea{
    margin-right: 20px;
}

textarea{
    padding: 3px;
    border: 3px solid rgb(49, 48, 48);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}



/* FOOTER */
footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    background: #32313f;
    color: #605e5e;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}

footer img{
    width: 20px;
}
/* contact */
.footer-contact h3, .footer-services h3, .footer-horaire h3, .footer-medias h3{
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.footer-contact p{
    padding: 5px;
}
/* services */
.liste-services, .liste-horaires, .liste-medias{
    list-style-type: none;
}

.liste-services li{
    padding: 2px 0;
}

.liste-services a{
    text-decoration: none;
    color: #333;
}

.liste-services:hover{
    text-decoration: none;
    color: rgb(3, 3, 3);
}
/* medias */
.liste-medias{
    position: relative;
    right: 10px;
}

.liste-medias img{
    width: 20px;
    margin: 10px 10px;
}

.liste-medias a{
    text-decoration: none;
    color: #605e5e;
    display: flex;
    align-items: center;
    font-size: 25px;
}

#marque{
    background-color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    height: 50px;
    padding-top: 10px;
}



/* media queries TAB */
@media screen and (min-width: 769px) and (max-width: 1024px){
    .portofolio img{
        max-width: 100%;
        height: auto;
    }
    .portofolio img:hover{
        width: auto; 
        height: auto; 
        transition: none;
    }
    .form__input, .form__textarea{
        width: 100%;
    }
    
}

/* medias queries PHONE */
@media screen and (max-width: 768px){
    .contenu-footer{
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc{
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1), .bloc:nth-child(2){ /* permet de séléctionner des enfants dans une liste */
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px){
    .contenu-footer{
        width: 320px;
    }
    .bloc{
        width: 300px;
        margin: 30px;
    }
    .bloc:nth-child(1), .bloc:nth-child(2){
        margin-bottom: 30px;
    }
    .bloc:nth-child(1){
        margin-top: 0;
    }
}

@media screen and (max-width: 768px){
    .presentation__container{
        flex-direction: column;
    }
    .presentation__photo{
        display: none;
    }
    .portofolio img{
        max-width: 100%;
        height: auto;
    }
    .portofolio img:hover{
        width: auto; 
        height: auto; 
        transition: none;
    }
    .form__input, .form__textarea{
        width: 100%;
    }
    
}






